<section class="food_list_container flex mx-8 py-4 items-center justify-center mt-24">
  <div class="food flex flex-col items-centre gap-2">
    <%if @recipes.empty?%>
        <h2>Oops!! Recipe List is Empty</h2>
        <%= link_to 'Add Recipe', new_recipe_path(), class: "btn" %>
    <%else%> 
      <div class="recipe_title flex flex-col gap-4">
        <article class="top flex justify-center text-center">
         
          <div class="mb-4 grid">
            <%= link_to 'Add Food', new_food_path(), class: "btn btn-primary justify-self-start" %>
          </div> 
          <h2 class="text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Find your favourite recipe here</h2>
        </article>
        <div class="p-2 flex flex-col gap-2">
          <% @recipes.each_with_index do |recipe, index| %>
            <div class="recipe_class flex flex-col gap-6">
              <div class="des grid grid-cols-4 gap-2">
                <div>
                  <h2 class="card-title text-xl font-semibold text-gray-900"><%= link_to "#{recipe.name}", recipe %></h2>
                  <p class="c"><strong>Preparation Time:</strong> <%= recipe.preparation_time %> (mins)</p>
                  <p class="c"><strong>Cooking Time:</strong> <%= recipe.cooking_time %> (mins)</p>
                </div>

                <div class=" col-span-3 flex flex-col gap-4">
                  <p class="c"><strong>Description:</strong> <%= recipe.description %></p>
                  <div class="flex justify-between">
                    <button class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
                      <%= link_to 'Show', recipe_path(recipe), class:"relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0" %>
                    </button>
                    <div class="remove-btn relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-red-200 via-red-300 to-yellow-200 group-hover:from-red-200 group-hover:via-red-300 group-hover:to-yellow-200 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-40">
                      <% if current_user == recipe.user %>
                        <%= button_to "REMOVE", recipe_path(recipe.id), method: :delete, class: "relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0" %>
                      <% end %>
                    </div>
                  </div>

                </div>
              </div>


            </div>
          <% end %>
        </div>
        <div class="add-recipe grid ">
          <a href="<%= new_recipe_path()%>" class=" justify-self-center text-gray-900 bg-gray-100 hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-500 me-2 mb-2">
            <svg class="w-4 h-4 me-2 -ms-1 text-[#626890]" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="ethereum" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M311.9 260.8L160 353.6 8 260.8 160 0l151.9 260.8zM160 383.4L8 290.6 160 512l152-221.4-152 92.8z"></path></svg>
            Add a Recipe
          </a>
        </div>
      </div>
    <% end %>
  </div>
</section>